html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: contain;
  touch-action: none;
  overflow-x: hidden;
  user-select: text;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  touch-action: manipulation;
  display: flex;
  flex: 1;
  background: #fbfaff;
}